// You can put your custom (S)CSS code here.
// You can use any variable declared in the other configuration files
@mixin custom-generic {
  .headerify {
    font-size: nth($heading-font-size, 2);
  }

  .hidden {
    display: none;
  }

  img {
    max-width: 100%;
  }

  figure {
    max-width: 50%;

    &figcaption{
      text-align: center;
    }
  }
}

@mixin custom-screen {
  // Styles here will be applied only to screen
}

@mixin custom-print {
  // Styles here will be applied only to print
}

@mixin custom-page {
  // Styles here will be applied in print to the @page directive
}
